div.parser_text_default {
	padding: 5px 5px 5px 5px;
}

div.parser_text_accept {
	background-color: #77DD77;	
	padding: 5px 5px 5px 5px;
}

div.parser_text_missing {
	background-color: #ffb761;	
	padding: 5px 5px 5px 5px;
}

div.parser_text_error {
	background-color: #FF7777;	
	padding: 5px 5px 5px 5px;
}

span.parser_error {
	font-family: Courier New, Sans-serif; font-size: 14px;	
}
