.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.editable {
	cursor: text;
}
.movable {
    cursor: move;
}

.myli {
    cursor: pointer;
	padding-left: 0px;
	background: none;
}

.myTextArea {
	border: 1px solid;
}

.canvas {
	border: 1px solid;
	width: 700;
	height: 500;
}

.myCell {
	border: 1px solid gray;
    height: 30px;
	padding: 10px;
    text-align: center;
	font-size: 1.5em;
}

.rh {
	transition: background-color 0.2s ease;
	border-right: 2px solid black;
	background-color: #cccccc;
	text-align: right;
	cursor: pointer;
}

.rhs {
	border-right: 2px solid black;
	background-color: #99ff33;
	text-align: right;
	cursor: pointer;
}

.rhe {
	border-right: 2px solid black;
	background-color: #66ffff;
	text-align: right;
	cursor: text;
}

.ch {
	border-bottom: 2px solid black;
	background-color: #cccccc;
}

.tc {
    background-color: gray;
	border: 1px solid gray;
	cursor: default;
}

.mytable {
	border-collapse: collapse;
	border: solid black;
}

.rh:hover {
	background-color: #e6ffe6;
	cursor: pointer;
}

.deleteButton {
	border: 1px solid gray;
    height: 30px;
	padding: 10px;
    text-align: center;
	font-size: 2em;
	color: #c20202;
	cursor: pointer;
}

.deleteButton:hover {
	color: #ff0000;
	text-decoration: none;
}

.addButton {
	border: 1px solid gray;
    height: 30px;
	padding: 10px;
    text-align: center;
	font-size: 2em;
	color: #10bd00;
	text-decoration: none;
	cursor: pointer;
}

.addButton:hover {
	color: #15ff00;
	text-decoration: none;
}

