.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.editable {
	cursor: text;
}
.movable {
    cursor: move;
}

.myli {
    cursor: pointer;
	padding-left: 0px;
	background: none;
}

.myTextArea {
	width: 75%;
}

.regTextArea {
	border: 1px solid;
}

.canvas {
	border: 1px solid;
	width: 700;
	height: 500;
}
.myTable {
	border-spacing: 0;
    border-collapse: collapse;
}
.myCell {
	border: 1px solid gray;
	padding: 0;
}

.myCellDiv {
	font-size: 1.5em;
	text-align: center;
	width: 100%;
	border: 0px;
	padding: 5px 10px 5px 10px;
}

.rh {
	transition: background-color 0.2s ease;
	background-color: #cccccc;
	text-align: right;
	cursor: pointer;
}

.rhs {
	background-color: lightgreen;
	text-align: right;
	cursor: text;
}

.ch {
	background-color: #cccccc;
}

.tc {
    background-color: gray;
	border: 1px solid gray;
	cursor: default;
}

.rh:hover {
	background-color: #d3f8d3;
	cursor: pointer;
}

.incorrect {
	background-color: #ff6666;
}

.deleteButton {
	border: 1px solid gray;
	padding: 0px 10px 0px 10px;
    text-align: center;
	font-size: 2em;
	color: #c20202;
	cursor: pointer;
}

.deleteButton:hover {
	color: #ff0000;
	text-decoration: none;
}

.addButton {
	border: 1px solid gray;
	padding: 0px 10px 0px 10px;
    text-align: center;
	font-size: 2em;
	color: #10bd00;
	text-decoration: none;
	cursor: pointer;
}

.addButton:hover {
	color: #15ff00;
	text-decoration: none;
}

.nav-tabs {
  border-bottom: 1px solid #ddd;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav > li {
  position: relative;
  display: block;
}

.nav:before,
.nav:after {
  display: table;
  content: " ";
}

.nav:after {
  clear: both;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eee;
}
.nav > li.disabled > a {
  color: #777;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  color: #777;
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
}

.nav-tabs > li {
  float: left;
  margin-bottom: -1px !important;;
}
.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}
.nav-tabs > li > a:hover {
  border-color: #eee #eee #ddd;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}
.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
       -o-transition: opacity .15s linear;
          transition: opacity .15s linear;
}
.fade.in {
  opacity: 1;
}