.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.editable {
	cursor: text;
}
.movable {
    cursor: move;
}

.canvas {
	border: 1px solid;
	width: 700;
	height: 500;
}