TD {
    vertical-align: top;
}

CAPTION {
    color: blue;
    font-family: 'Times New Roman',Times,serif;
    font-weight: bold;
}

.answer {
    color: blue;
    font-family: 'Times New Roman',Times,serif;
    font-weight: bold;
    text-align: center;
}

.systemyes {
    color: green;
    font-family: 'Times New Roman',Times,serif;
    font-weight: bold;
    text-align: center;
}

.systemno {
    color: red;
    font-family: 'Times New Roman',Times,serif;
    font-weight: bold;
    text-align: center;
}

.title {
    color: green;
    font-family: 'Times New Roman',Times,serif;
    font-weight: bold;
    text-align: center;
}

.model {
    font-family: 'Courier New',Courier,monospace;
    color: black;
    font-weight: normal;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    padding: 4px;
    font-size: 14px;
}

