BODY {
    padding: 20px;
}

h1      {
    color: teal;
    font-size: X-large;
    font-family: 'Times New Roman',Times,serif;
    
}
h2      {
    color: green;
    font-family: 'Times New Roman',Times,serif;
    font-size: large;
    
}
span    {
    color: red;
    font-style: normal;
    font-family: 'Courier New',Courier,monospace;
}
.example {
    color: black;
}
span.note {
    color: silver;
}
