

TABLE	{
    text-align:center;
    padding: 1px;
}

CAPTION	{
    color:red;
    font-size:large;
    font-weight:bold
}

TD	{
    text-align:center;
    vertical-align:top
}

A.menu  {
    font-family: 'Times New Roman',Times,serif;
    font-size: 24px;
    font-weight: bold;
    color: green;
}

TH.teacher	{
    color:blue;
    font-weight:bold;
    background-color: #bbbbbb;
}
TH.student	{
    color:black;
    font-weight:bold;
    background-color: #dd0000;
}
TD.teacher	{
    color:green;
    background-color: #dddddd;
    text-align:left;
    vertical-align:top
}

TD.student  {
    background-color: red;
}

.example {
    text-align: center;
    font-family: 'Courier New',Courier,monospace;
}

.example TH {
    color: blue;
    background-color: #bbbbbb;
}

.example TD {
    background-color: #dddddd;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.news {
    text-align: left;
    border: solid;
    background-color: #ffffcc;
    padding: 10px;
}


.news .date {

    font-weight: bold;
    color: green;
}

.news .title{
    font-family: 'Times New Roman',Times,serif;
    font-weight: bold;
    text-decoration: underline;
    color: blue;
}

.news .description {
    font-family: 'Times New Roman',Times,serif;
}