root { 
    display: block;
}

#info {
}

#list {
    border-top-style: outset;
    border-bottom-style: outset;
    border-left-style: outset;
    border-right-style: outset;
    border-top-color: navy;
    border-bottom-color: navy;
    border-left-color: navy;
    border-right-color: navy;
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 5px;
    border-right-width: 5px;
}

TH {
    font-weight: bold;
    color: green;
    text-align: center;
}

TD {
    text-align: center;
    vertical-align: middle;
}

#info   TD {
    font-weight: bold;
}



TD.task {
    font-weight: bold;
    color: blue;
    font-family: 'Courier New',Courier,monospace;
    font-size: 18px;
}

TD.answer {
    font-weight: bold;
    color: red;
    font-family: 'Courier New',Courier,monospace;
    font-size: 18px;
}

TD.model {
    text-align: left;
}