<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <description>Internet service solving decidable problems of regular languages and context free grammars</description>
    <display-name>Internet service for evaluating regular languages and context free grammars</display-name>
    <servlet>
        <servlet-name>Equal</servlet-name>
        <servlet-class>cz.muni.fi.xpastirc.fja.servlet.Equal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Convert</servlet-name>
        <servlet-class>cz.muni.fi.xpastirc.fja.servlet.Convert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Export</servlet-name>
        <servlet-class>cz.muni.fi.fja.servlet.Export</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConvertCFG</servlet-name>
        <servlet-class>cz.muni.fi.cfg.servlet.Convert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EvaluateCFG</servlet-name>
        <servlet-class>cz.muni.fi.cfg.servlet.Evaluate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateCFG</servlet-name>
        <servlet-class>cz.muni.fi.cfg.servlet.Cyk</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Utils</servlet-name>
        <servlet-class>cz.muni.fi.cfg.servlet.Utils</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>cz.muni.fi.xpastirc.auth.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>cz.muni.fi.xpastirc.auth.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Equal</servlet-name>
        <url-pattern>/Equal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Convert</servlet-name>
        <url-pattern>/Convert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Export</servlet-name>
        <url-pattern>/export</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConvertCFG</servlet-name>
        <url-pattern>/convertcfg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EvaluateCFG</servlet-name>
        <url-pattern>/evaluatecfg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateCFG</servlet-name>
        <url-pattern>/generatecfg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Utils</servlet-name>
        <url-pattern>/utils</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <jsp-config>
    </jsp-config>
</web-app>
